.results{
    text-align: left;
   }
 
 #maindiv{
    background-color: white;
    width: 300px;
    padding: 130px;
    border-radius: 25px;
    text-align: left;
    color: black;
    
}

body {
  background-color: #000000;
  width: 150px;
  font-family: arial;
  font-size: 15px;
  color: white;
}
h1{ 
color: grey;
font-family: Veranda;
font-size: 25px;
}
footer{
  text-align: left;
  font-size: 10px;
}


